.titleh1
{
    display: flex;
    flex-direction: row;
    gap: 5px;
    position: absolute;
    top: 10%;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    color: rgb(2 65 255);
    font-size: 32px;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    z-index: 999;
}
.titlep
{
    color: #000000;
    font-size: 20px;
    font-weight: 400;
}
body
{
    background: linear-gradient(to right, #80808078, #0241ffa1);
    /* removes horizontal scrollbar on widgetbot chat */
    box-sizing: border-box;
    overflow-x: hidden;
}
#bodytext
{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-style: normal;
    position: absolute;
    top: 50%;
    left: 43.5%;
}
#myiFrame
{
  position: absolute;
  top: 14%;
  height: 90%;
}