.titleh1
{
    display: flex;
    flex-direction: row;
    gap: 5px;
    position: absolute;
    top: 10%;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    color: rgb(2 65 255);
    font-size: 32px;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    z-index: 999;
}
.titlep
{
    color: #000000;
    font-size: 20px;
    font-weight: 400;
}
body
{
    background: linear-gradient(to right, #80808078, #0241ffa1);
    /* removes horizontal scrollbar on widgetbot chat */
    box-sizing: border-box;
    overflow-x: hidden;
}
#bodytext,#url
{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-style: normal;
    position: absolute;
}
#bodytext
{
    top: 50%;
    left: 43.5%;
}
#url
{
    top: 64%;
    left: 41.5%;
    border-radius: 30px;
    margin: 2vh;
}
.game
{
    height: 30vh; 
    width: 40vh;
    border-radius: 30px;
}
#myiFrame
{
  position: absolute;
  top: 14%;
  height: 90%;
}
#content
{
    /* the super magical two lines that make things display in rows */
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
}
#searchIcon
{
    color: rgb(16, 15, 17);
    font-size: 25px;
    position:absolute;
    top: 64%;
    left: 37.5%;
}