---
import Boilerplate from  "../components/boilerplate.astro";
import Navbar from "../components/navbar.astro";
import "../styles/games.css";
import "../styles/index.css";
import games from "../games.json";
---
<html>
    <head>
        <Boilerplate />
        <script defer src="../js/tabcloak.js"></script>
        <script src="../js/gamesearch.js"></script>
    </head>
    <body>
        <div id="navbar">
            <Navbar />
        </div>
        <div id="searchbar">
            <input type="text" id="search">
        </div>
        <div id="content">
        {
            games["games"].map((data) => (
                    <div class="game-card">
                        <a href={"../gamepages/" + data[1] + ".html"}>
                            <img src={"../images/appicons/" + data[1] + ".png"} alt={data[0]} class="game">
                        </a>
                    </div>
            ))
        }
        </div>
    </body>
</html>