---
import "../styles/index.css";
import Navbar from "../components/navbar.astro";
import Boilerplate from "../components/boilerplate.astro"
---
<html>
    <head>
        <Boilerplate />
    </head>
    <body>
        <div id="navbar">
            <Navbar />
        </div>
        <iframe src="https://e.widgetbot.io/channels/1242675261116514356/1243004060441903227" style="bottom: 0" name="myiFrame" id="myiFrame" scrolling="yes" frameborder="0" marginheight="0px" marginwidth="0px" width="100%" allowfullscreen=""></iframe>
    </body>
</html>